div {
    background-color: brown;
    text-align: center;
    border-radius: 10px;
    margin: 100 px;
}
.me{
    background-color: rgb(138, 224, 10);
    text-align: right;
}
.ck{
    background-color: aqua;
   
    
}
    
   